main
  h4#first_part I часть
  p.
    Когда мне было шесть лет, в книге под названием "Правдивые
    истории", где рассказывалось про девственные леса, я увидел однажды
    удивительную картинку. На картинке огромная змея - удав - глотала
    хищного зверя.
  p.
    В книге говорилось: "Удав заглатывает свою жертву целиком, не
    жуя. После этого он уже не может шевельнуться и спит полгода подряд,
    пока не переварит пищу".
  p.
    Я много раздумывал о полной приключений жизни джунглей и тоже
    нарисовал цветным карандашом свою первую картинку. Это был мой рисунок
    N 1. Вот что я нарисовал. Я показал мое творение взрослым и спросил, не
    страшно ли им.
  p.
    - Разве шляпа страшная? - возразили мне.
  p.
    А это была совсем не шляпа. Это был удав, который проглотил
    слона. Тогда я нарисовал удава изнутри, чтобы взрослым было понятнее.
    Им ведь всегда нужно все объяснять. Это мой рисунок N 2.
  p.
    Взрослые посоветовали мне не рисовать змей ни снаружи, ни изнутри,
    а побольше интересоваться географией, историей, арифметикой и
    правописанием. Вот как случилось, что шести лет я отказался от
    блестящей карьеры художника. Потерпев неудачу с рисунками N 1 и N 2, я
    утратил веру в себя. Взрослые никогда ничего не понимают сами, а для
    детей очень утомительно без конца им все объяснять и растолковывать.
  p.
    Итак, мне пришлось выбирать другую профессию, и я выучился на
    летчика. Облетел я чуть ли не весь свет. И география, по правде
    сказать, мне очень пригодилась. Я умел с первого взгляда отличить Китай
    от Аризоны. Это очень полезно, если ночью собьешься с пути.
  p.
    На своем веку я много встречал разных серьезных людей. Я долго
    жил среди взрослых. Я видел их совсем близко. И от этого, признаться,
    не стал думать о них лучше.
  p.
    Когда я встречал взрослого, который казался мне разумней и
    понятливей других, я показывал ему свой рисунок N 1 - я его сохранил и
    всегда носил с собою. Я хотел знать, вправду ли этот человек что-то
    понимает. Но все они отвечали мне: "Это шляпа". И я уже не говорил с
    ними ни об удавах, ни о джунглях, ни о звездах. Я применялся к их
    понятиям. Я говорил с ними об игре в бридж и гольф, о политике и о
    галстуках. И взрослые были очень довольны, что познакомились с таким
    здравомыслящим человеком.
  
  h4#second_part II часть
  
  p.
    Так я жил в одиночестве, и  не с кем было мне поговорить  по душам.
    И вот шесть  лет тому назад  пришлось мне сделать  вынужденную посадку в
    Сахаре.  Что-то сломалось в моторе  моего самолета.  Со мной не  было ни
    механика, ни пассажиров, и я решил, что попробую сам все починить,  хоть
    это и очень трудно.  Я должен был исправить мотор или погибнуть. Воды  у
    меня едва хватило бы на неделю.
  p.
    Итак, в первый вечер я уснул на песке в пустыне, где на тысячи миль
    вокруг не было никакого жилья.  Человек,  потерпевший кораблекрушение  и
    затерянный  на  плоту  посреди  океана,  -  и  тот был бы не так одинок.
    Вообразите же мое удивление,  когда на  рассвете  меня  разбудил  чей-то
    тоненький голосок. Он сказал:
  p.
    - Пожалуйста... нарисуй мне барашка!
  p.
    - А?..
  p.
    - Нарисуй мне барашка...
  p.
    Я вскочил,  точно  надо  мною   грянул  гром.  Протер  глаза.  Стал
    осматриваться. И увидел забавного маленького человечка, который серьезно
    меня разглядывал. Вот самый лучший его портрет,  какой мне после удалось
    нарисовать. Но на моем рисунке он, конечно, далеко не так хорош, как был
    на самом деле.  Это не моя вина.  Когда мне было  шесть  лет,   взрослые
    убедили  меня,  что  художник  из меня не выйдет, и я ничего не научился
    рисовать, кроме удавов - снаружи и изнутри.
  p.
    Итак, я  во  все  глаза  смотрел  на  это  необычайное явление.  Не
    забудьте, я находился за тысячи миль от человеческого жилья. А между тем
    ничуть не похоже было,  чтобы этот малыш заблудился, или до смерти устал
    и напуган,  или умирает от голода и жажды. По его виду никак нельзя было
    сказать, что это ребенок, потерявшийся в необитаемой пустыне, вдалеке от
    всякого жилья. Наконец ко мне вернулся дар речи, и я спросил:
  p.
    - Но... что ты здесь делаешь?
  p.
    И он опять попросил тихо и очень серьезно:
  p.
    - Пожалуйста... нарисуй барашка...
  p.
    Все это  было  так  таинственно  и  непостижимо,  что  я  не посмел
    отказаться. Как ни нелепо это  было  здесь,  в  пустыне,  на  волосок от
    смерти,  я все-таки достал из кармана лист бумаги и вечное перо.  Но тут
    же вспомнил,  что учился-то я больше географии,  истории,  арифметике  и
    правописанию,  и  сказал малышу (немножко даже сердито сказал),  что  не
    умею рисовать. Он ответил:
  p.
    - Все равно. Нарисуй барашка.
  p.
    Так как я никогда в жизни  не рисовал баранов, я повторил для  него
    одну из двух старых картинок, которые  я только и умею рисовать -  удава
    снаружи.  И очень изумился, когда малыш воскликнул:
  p.
    - Нет, нет!   Мне не надо слона  в удаве!  Удав  слишком опасен,  а
    слон  слишком  большой.   У  меня  дома  все  очень маленькое. Мне нужен
    барашек. Нарисуй барашка.
  p.
    И я нарисовал.
  p.
    Он внимательно посмотрел на мой рисунок и сказал:
  p.
    - Нет, этот барашек уже совсем хилый. Нарисуй другого.
  p.
    Я нарисовал.
  p.
    Мой новый друг мягко, снисходительно улыбнулся.
  p.
    - Ты  же  сам видишь,  - сказал он,  - это не барашек.  Это большой
    баран. У него рога...
  p.
    Я опять нарисовал по-другому. Но он и от этого рисунка отказался:
  p.
    - Этот слишком старый. Мне нужен такой барашек, чтобы жил долго.
    Тут я  потерял  терпение  -  ведь  мне надо было поскорей разобрать
    мотор - и нацарапал ящик.
  p.
    И сказал малышу:
  p.
    - Вот тебе ящик. А в нем сидит такой барашек, какого тебе хочется.
  p.
    Но как же я удивился, когда мой строгий судья вдруг просиял:
  p.
    - Вот это хорошо! Как ты думаешь, много этому барашку надо травы?
  p.
    - А что?
  p.
    - Ведь у меня дома всего очень мало...
  p.
    - Ему хватит. Я тебе даю совсем маленького барашка.
  p. 
    - Не такой уж он маленький...  -  сказал  он,  наклонив голову иразглядывая рисунок.  
    - Смотри-ка! Он уснул...
    Так я познакомился с Маленьким принцем.
