nav
  h4 Содержание:

  ul
    li 
      a(href="#first_part") I Часть
    li 
      a(href="#second_part") II Часть
    li 
      a(href="#third_part") III Часть
    li 
      a(href="#fourth_part") IV Часть
    li 
      a(href="#fifth_part") V Часть
    li 
      a(href="#sixth_part") VI Часть
    li 
      a(href="#seventh_part") VII Часть
    li 
      a(href="#eigth_part") VIII Часть
    li 
      a(href="#nineth_part") IX Часть
    li 
      a(href="#tenth_part") X Часть