main {
  font-family: 'Playfair Display', serif;
  max-width: 970px;
  margin: 0 auto;

  h4 {
    margin-bottom: 24px;
    text-align: center;
    text-transform: uppercase;
  }

  p {
    margin-bottom: 24px;
    padding: 0 15px;
    text-indent: 24px;
  }
}