nav {
  display: block;
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
  text-transform: uppercase;
  text-align: left;

  h4, ul {
    padding-bottom: 12px;
    border-bottom: 1px solid #999;
  }

  h4 {
    margin-bottom: 12px;
    font-family: 'Playfair Display', serif;
  }

  ul {
    margin-bottom: 24px;

    li {
      a {
        font-family: 'Playfair Display', serif;
        line-height: 32px;
        font-size: 24px;
        color: #555;

        &:hover {
          color: #E53A40;
        }
      }
    }
  }
}