body {
  font-family: 'roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

a {
  &:link,
  &:visited,
  &:hover {
    text-decoration: none;
  }
}

@for $i from 1 through 6 {
  h#{7 - $i} {
    font-size: 8px * $i;
  }
}